<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Puppies Form</title>
</head>
<body>
  <form action="/puppies">
    
<label for="puppyName">
    Puppy Name: <input type="text" name="puppyName">
    </label>

    <input type="submit" value="Add">
  </form>

<p>
	<a href="/">Nevermind!</a>
</p>

</body>
</html>